<% content_for :page_title, "イベント編集" %>

<div class="max-w-4xl mx-auto">
    <!-- ページヘッダー -->
    <div class="mb-8">
        <div class="flex items-center text-sm text-gray-600 mb-4">
            <%= link_to admin_calendar_events_path, class: "hover:text-green-600 transition-colors" do %>
            営業カレンダー管理
            <% end %>
            <svg class="w-4 h-4 mx-2" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
            <span class="text-gray-800 font-medium">イベント編集</span>
        </div>
        <h1 class="text-3xl font-bold text-gray-800">イベント編集</h1>
        <p class="text-gray-600 mt-2">
            <%= @calendar_event.event_date.strftime("%Y年%m月%d日") %>
            (<%= %w[日 月 火 水 木 金 土][@calendar_event.event_date.wday] %>)
            - <%= CalendarEvent.event_type_options.key(@calendar_event.event_type) %>
        </p>
    </div>

    <%= render 'form', calendar_event: @calendar_event %>
</div>